/* Mobile first approach, further @media queries tweak styling for progressively larger screens */
body {
	position: relative;
    width: 100%;
	margin: 0;
	padding: 0;
	
	color: lightgrey;
}

button, .fonted{
	font-family: 'Raleway', sans-serif;
}

#mask{
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100vh;
	padding: 100px 0;
    text-align: center;
    background: #000;
	
}

#mask h1{
    margin: 80px auto;
}

#loading{
	position: relative;
	width: 66%;
	height: 1em;
	margin: 0 auto;
	text-align: left;
	display: block;
	
	
}

#progressBar{
	height: 100%;
	position: relative;
	display: block;
	background: #fff;
}


.top-shadow{
	box-shadow: 0px -10px 0px rgba(0,0,0,1);
}


/* button in mobile size for off-canvas nav */
#topCanvas button{
	font-size: 1.2em;
	margin: 5px 0;
}



.title-bar .large{
	margin:10px;
}


.menu-icon{
	display:none;
}

#output{
	display:inline;
    margin: 0;
    padding: 0;
}

.full-shot{
    margin: 3px 2px;
	padding: 0;
	display: block;
	width: 100%;
}

.image-holder{
	width: 100%;
	margin: 0;
	display: block;
	
}

.image-main{
	margin: 0;
	padding: 0;
	width: 100%;
	display: block;
	
}

#copyright{
	display:none;
}

/* ----- Media Queries ----- */

@media (min-width: 1080px){
   
	.title-bar-title h1{
		font-size: 1.5em;
	}
	
	.title-bar .large{
	display:none;
	}

	.menu-icon{
		margin: 10px;
		display:inline;
	}
    
    .full-shot{
        margin: -4px 0;
        display: inline-block;
        width: 100%;
    }
    
    .image-holder{
        display: block;
        position: relative;
	
    }

    .image-main{
        margin: 60px auto;
        width: auto;
		max-width: 1000px;
		max-height: 80vh;
		border: solid;
		border-color; #fff;
        box-shadow: 40px 50px 100px 25px rgba(0,0,0,.35), 
					75px 100px 150px 50px rgba(10,0,40,.3);

    }
	
	#copyright{
		margin: 0 auto;
		padding: 0 10px;
		text-align: right;
	    width: 100%;
		top: 95vh;
		display: block;
		position: fixed;
		opacity: .2
	}
}

@media (min-width: 1900px){

	.image-main{
		max-width: 1300px;
		max-height: 90vh;
	}

        }


